{% extends "admin/layout.html" %}

{% block body %}
    <h1>All the Categoires</h1>
    <div class="filters">
        <a href="/my/categories/new" class="button"><i class="fa fa-plus-square-o"></i>New Category</a>
    </div>
    <div class="cateogires-table table">
        <div class="table-header header row">
            <span>Title</span>
        </div>
    {% for doc in docs %}
        <div class="row">
            <a href="/my/categories/{{ doc._id }}"><span>{{ doc.name }}</span></a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
