<div class="side-navigation">
    <div class="tab">
        <a href="/my">
            <span><i class="fa fa-home"></i> Home</span>
        </a>
    </div>
    <div class="tab">
        <a href="/my/posts">
            <span><i class="fa fa-newspaper-o"></i> Posts</span>
        </a>
    </div>
    <div class="tab">
        <a href="/my/categories">
            <span><i class="fa fa-th"></i> Categories</span>
        </a>
    </div>
    <div class="tab">
        <span><i class="fa fa-users"></i> Users</span>
    </div>
    <div class="tab">
        <span><i class="fa fa-cogs"></i> Settings</span>
    </div>
</div>
